body {
	margin:0;
	padding:0;
	border:0;
	display:flex;
}
.menu-pic {
	width:50px;
	height: 100vh;
	background-color:yellow;
}

.menu{
	position:fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width:300px;
	height:100vh;
	display:flex;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
.font-color {
	color:black;
}
/*work on this part for the text
.hide {
	display:none;
}
.show {
	display:block;
}
*/
.highlight {
    color: #f1f1f1;
	}
#main {
    transition: margin-left .5s;
	width:300px;
}
.page {
	width:100vw;
	height:100vh;
	background-color:green;
	display:block;
}
.heading {
	height:20vh;
	width:100%;
	background-color:white;
	display:flex;
	justify-content:center;
}
.show {
	height:40vh;
	width:100%;
	background-color:blue;
}
.content {
	height:40vh;
	width:100%;
	background-color:pink;
}
    #str {
	display:flex;
	justify-content:center;
	width: 500px;
	padding: 20px;
	font-family: sans-serif;
	font-size: 50px;
	margin: 50px auto;
	color: red;
	font-weight: bold;
}
.button-section {
	display:flex;
	background-color:orange;
	width:100%;
	height:100%;
}
.button-holder{
	background-color:green;
	width:calc(100vw / 3);
	height:100%;
	display: flex;
	justify-content:center;
	vertical-align:center;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 80%;
	height: 50%;
	right: 20px;
	}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	margin-right:10px;
}

.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.button-layout {
background-color:red;
display:block;
height:100%;
width:100%;
}
button {
	width:50%;
	height:60%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}