body {
	margin:0;
	padding:0;
	border:0;
	display:flex;
}
.menu-pic {
	width:50px;
	height: 100vh;
	background-color:yellow;
}

.menu{
	position:fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width:300px;
	height:100vh;
	display:flex;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
.font-color {
	color:white;
}

.highlight {
    color: #0072BC;
	background-color:white;
	}
#main {
    transition: margin-left .5s;
	width:300px;
}
.page {
	width:100vw;
	height:100vh;
	display:block;
}
.heading {
	height:20vh;
	width:100%;
	display:flex;
	justify-content:center;
}
.show {
	height:40vh;
	width:100%;
}
.content {
	height:40vh;
	width:100%;
}
    #str {
	display:flex;
	justify-content:center;
	width: 700px;
	padding: 20px;
	font-family: sans-serif;
	font-size: 50px;
	font-weight: bold;
}
.button-section {
	display:flex;
	width:100%;
	height:100%;
}
.button-holder{
	width:calc(100vw / 3);
	height:100%;
	display: flex;
	justify-content:center;
	vertical-align:center;
}


/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; /* this will make the modal stay in place */
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 80%;
	height: 50%;
	right: 20px;
	}

/* The Close Button */
.exit {
    color: #aaaaaa;
    float: right;
    font-size: 60px;
    font-weight: bold;
	margin-right:10px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
    transition:         transform .5s ease-in-out;
}

.exit:hover {
    color: pink;
    text-decoration: none;
    cursor: pointer;
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.button-layout {
display:flex;
flex-wrap:wrap;
height:100%;
width:100%;
}
button {
	width:50%;
	height:60%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.metrologo{
	width:200px;
	height:100px;
	padding-bottom: 40px;
}

.title{
	font-size:50px;
	width:calc(100% - 45px);
	height:69px;
	text-align:center;
}
.column {
	width:50%;
	height: calc(100% - 69px);
}
.left {
	background-color:orange;
}
.right{
	background-color:green;
}
.info{
	font-size:24px;
	text-align:center;
}
