* {
    box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
	border:0;
	display:flex;
}
.page {
	width:100vw;
	height:100vh;
	display:block;
	background-image: url('images/background.jpg');
    background-size: cover;
}
.heading {
	height:10vh;
	width:100%;
	display:flex;
	justify-content:center;
}
.show {
	height:40vh;
	width:100%;
	display:flex;
	justify-content:center;
}
.content {
	height:40vh;
	width:100%;
}
#str {
	display:flex;
	justify-content:center;
	width: 700px;
	padding: 10px;
	font-family: Courier New;
	font-size: 45px;
	font-weight: bold;
	color:#2461AA;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.button-section {
	display:flex;
	width:100%;
	height:100%;
}
.button-holder{
	width:calc(100vw / 3);
	height:100%;
	display: flex;
	justify-content:center;
}
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; /* this will make the modal stay in place */
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 80%;
	right: 20px;
	}
/* The Close Button */
.exit {
    color: #aaaaaa;
    float: right;
    font-size: 70px;
    font-weight: bold;
	margin-right:10px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
    transition:transform .5s ease-in-out;
}
.exit:hover {
    color: #0089C5;
    text-decoration: none;
    cursor: pointer;
	-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.button-layout {
display:flex;
flex-wrap:wrap;
height:100%;
width:100%;
}
.mainb {
	width:50%;
	height:60%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border: 2px solid #0089C5;
	background-color: black;
	font-weight:bold;
	color: ghostwhite;
	overflow: hidden;
	font-size:20px;
	font-family: Courier New;
}
.mainb:hover {
  color: #0089C5;
  transition: color 0.5s ease;
}
.mainb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transform-origin: top;
  background: ghostwhite;
  z-index: -1;
  transition: height 0.5s ease;
}
.mainb:hover::after {
  height: 100%;
  color: #50C8E8;
}
.metrologo{
	width:200px;
	height:100px;
	padding-bottom: 40px;
}
.title{
	font-size:50px;
	width:calc(100% - 70px);
	height:69px;
	text-align:center;
}
.column {
	width:calc(100% / 2 - 10px);
	height: calc(100% - 79px);
	text-align:center;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	border:5px solid transparent;
}
.info{
	font-size:24px;
	width:100%;
}
.slideshow {
	display:flex;
	justify-content:center;
	width:800px;
	height:100%;
}
.images {
	height:100%;
}
.pictures {
	height:200px;
	width:100%;
}
.minibutton {
	width: 100px;
	height: 50px;
	background-color:#214cce;
	font-family: Courier New;
	color:white;
	border-radius: 12px;
	border: 3px solid #f2f2f2;
}
.important{
	font-weight:bold;
}
.col {
	width:50%;
}
.points {
	text-align:left;
	font-size:20px;
}
.list {
	list-style-type: square;
}
a {
	text-decoration:none;
	font-size:14px;
}
.menupopup{
	background-color:white;
	position:absolute;
	z-index: 1000;
	top:0;
	left:250px;
	width:400px;
	height:100vh;
	display:none;
}
.navbar {
    overflow: hidden;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
	width:100%;
	height:10vh;
	display:flex;
}
.dropdown .dropbtn {
    font-size: 18px;    
    border: none;
    outline: none;
    color: white;
    padding: 12px 16px;
	height:100%;
	background-color:inherit;
}
 .dropdown:hover .dropbtn {
    background-color:#0089C5;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    z-index: 1;
}
.header {
	background-color:#ccc;
    padding: 5px;
	font-size:20px;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.columnnav {
    float: left;
    width: calc(100% / 7);
    padding: 8px;
   
}
.columnnav a {
    float: none;
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.columnnav a:hover {
    background-color: #ddd;
}
.row {
	display:flex;
	flex-wrap:wrap;
	width:100%;
	justify-content:center;
	background-color: #ccc;
}
.navlogo {
	width:130px;
	height:100%;
}
.headimg{
height:50px;
width:100%;
display:flex;
}
.mainimg {
  position: relative;
  height: 45px;
  width: 250px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
  cursor: pointer;
  overflow:hidden;
  -webkit-transition: all 250ms cubic-bezier(0.445, 0.050, 0.550, 0.950); 
}

.mainimg:before{
  position:absolute;  
  content:"";
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
  opacity:0;
  -webkit-transition: all 250ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}

.mainimg:after {
  content: "";
  position: absolute;
  background: #0089C5;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: all 150ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}
.mainimg:hover{
  color:white;
  border: 0px #0089C5 solid;
}
.mainimg:hover:before {
  opacity: .8;
}
.mainimg:hover:after {
  top: 0;
}
.trans{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.web {
	width: 50%;
}
.language {
	width:120px;
	height:40px;
	margin: 3px ;
}
