body {
	background-image: url('images/idk.jpg');
    background-size: cover;
	margin:0;
}
.container{
	height:300px;
	width:1000px;
	position:absolute;
	top:30%;
	left:50%;
	transform: translateX(-50%) translateY(-50px);
	background-color: white;
	border: 1px solid black;
	box-shadow: 0 0 8px 3px grey;
	text-align:center;
}
.title {
	padding-top:20px;
	text-align:center;
	font-size: 36px;
	color:black;
}
.question {
	padding:20px;
	font-size:22px;
	background: pink;
	border-radius:20px;
	margin:10px 0 10px 0;
	color:black;
	text-align:center;
}
.option {
	width:470px;
	display:inline-block;
	vertical-align:middle;
	background: #0089C5;
	margin:10px 0 10px 0;
	color:black;
	border-radius:20px;
}

.next-btn{
	background:#0089C5;
	color:black;
	width:100px;
	height:35px;
	border-radius: 20px;
	margin:10px;
	text-align:center;
}
.hover{
	background: black;
	color:white;
}

.result {
	height:100px;
	text-align:center;
	font-size:75px;
}
.option input:checked .option{
	background: yellow;
	color:red;
}
.start {
	width:100%;
	display:flex;
	justify-content:center;
	position:absolute;
    top:60%;
    margin:auto;
}
.redo {
	height:50px;
	width:150px;
}
