body {
	margin:0;
	padding:0;
	border:0;
	display:flex;
}
.menu-pic {
width:50px;
height: 100vh;
background-color:yellow;
}

.menu{
	position:fixed;
	z-index: 1;
    top: 0;
    left: 0;
width:300px;
height:100vh;
display:flex;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
.font-color {
	color:black;
}
/*work on this part for the text
.hide {
	display:none;
}
.show {
	display:block;
}
*/
.highlight {
    color: #f1f1f1;
	}
#main {
    transition: margin-left .5s;
	width:300px;
}
.page {
	width:100vw;
	height:100vh;
	background-color:green;
	display:block;
}
.heading {
	height:20vh;
	width:100%;
	background-color:white;
}
.show {
	height:40vh;
	width:100%;
	background-color:blue;
}
.content {
	height:40vh;
	width:100%;
	background-color:pink;
}
